<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
  <%= (typeof title != "undefined" ? title : "") %>
    <title>Node Authentication</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body style="background-color:black;">
  <nav class="navbar navbar-inverse center">
    <img style="height: 100px; margin:5px;" src="./logo.svg" />
    <div id="clock"/>
  </nav>
<div class="container-fluid">
  <div id='beers' class="row" style="margin: 0px 10px 0px 10px">


    <!-- <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div> -->

  </div>
</div>
<ul id="messages">
  <img src="" alt="">
</ul>
</body>
</html>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
  $(function () {
    var socket = io();
    socket.emit("client connected");
    socket.on('Linelist', function(msg){
      for (var i = 0; i < msg.lines.length; i++) {
        for (var j = 0; j < msg.data.length; j++) {
          if (msg.data[j]._id === msg.lines[i].idKeg) {
            for (var k = 0; k < msg.beers.length; k++) {
              if (msg.beers[k]._id === msg.data[j].beerId) {
                $('#beers').append($('<div class="col-lg-6 cell"><div class="image_wrapper"><img class="beer-img" src="/getImage/'+msg.beers[k].image+'" /></div> <div class="princ-info"> <h1 class="beerName">'+msg.beers[k].name+' <span class="beer-type">'+msg.beers[k].type+'</span> </h1><p class="beerStyle">'+msg.beers[k].style+'</p></div> <img id="type" src="./drink.svg"/> <div class="sec-info"><h1 class="beerName">'+msg.data[j].abv+'%</h1> <p class="beerName">ABV</p></div>  <div class="sec-info"><h1 class="beerName">'+msg.data[j].ibu+'</h1> <p class="beerName">IBU</p></div></div>'));
                $("#fill-color").css("fill", "red");
              }
            }
          }
        }
      }

      // msg.lines.forEach((item, i) => {
      //   $('#messages').append($('<li>').text("hola"));
      // });

    });
    socket.on('chat message', function(msg){
      $('#messages').append($('<li>').text(msg));
    });
  });
  function currentTime() {
  var date = new Date(); /* creating object of Date class */
  var hour = date.getHours();
  var min = date.getMinutes();
  var sec = date.getSeconds();
  var midday = "AM";
  midday = (hour >= 12) ? "PM" : "AM"; /* assigning AM/PM */
  hour = (hour == 0) ? 12 : ((hour > 12) ? (hour - 12): hour); /* assigning hour in 12-hour format */
  hour = updateTime(hour);
  min = updateTime(min);
  sec = updateTime(sec);
  document.getElementById("clock").innerText = hour + ":" + min + ":" + sec + " " + midday; /* adding time to the div */
    var t = setTimeout(currentTime, 1000); /* setting timer */
}

function updateTime(k) { /* appending 0 before time elements if less than 10 */
  if (k < 10) {
    return "0" + k;
  }
  else {
    return k;
  }
}

currentTime();
</script>
<style scoped>
.cell{
  border-bottom: 1px solid lightgray;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  height: 140px;
}
.center{
  display: flex;
  flex:1;
  -webkit-flex:1;
  flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  align-items: center;
  justify-content: center;
}
.princ-info{
  display: flex;
  flex:1;
  -webkit-flex:1;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
}
.beerName{
  color: white;
  font-weight: 300;
  margin-bottom: 0px;
}
.beerStyle{
  color: white;
  font-size: 20px;
  margin-top: 0px;
}
.image_wrapper{
  height: 120px;
  width: 120px;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.beer-img{
  max-width: 120px;
  max-height: 120px;
  image-resolution: 300dpi snap;
      -webkit-image-resolution:300dpi snap;
       -moz-image-resolution:300dpi snap;
       -o-image-resolution:300dpi snap;
       -ms-image-resolution:300dpi snap;
}
.sec-info{
  text-align: center;
  margin-right: 15px;
}
#type{
  height: 60px;
}
.beer-type{
  background-color: white;
  color:black;
  font-size: 20px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#clock {
  position: absolute;
  top:30px;
  left:20px;
  font-weight: 300;
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: inherit;
}
</style>
